*.iml
.gradle
/local.properties
/.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/dictionaries
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/scopes
!.idea/vcs.xml

/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/other.xml
/.idea/uiDesigner.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app
